#header {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #07868f;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav span {
    font-size: 1.5rem;
    color: white;
    margin-left: 2rem;
}

nav ul {
    margin-right: 2rem;
}

nav ul li {
    text-align: center;
    display: inline;
    justify-content: space-between;
    margin: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: aqua;
    font-size: 1.1rem;
}